- content_for :title do
  Settings
= simple_form_for @settings, :url => settings_path, :method => :put do |s|
  = render 'shared/form_errors', instance: @settings
  %fieldset
    %legend Logo
    = s.input :use_logo, :as => :boolean, :hint => input_hint(:use_logo)
    = s.input :logo, :as => :file
  %fieldset
    %legend Splash Page
    = s.input :splash_page, :as => :boolean, :hint => input_hint(:splash_page)
    = s.input :splash_page_featured, :as => :boolean, :hint => input_hint(:splash_page_featured)
    = s.input :splash_page_view, :collection => Settings.site[:splash_page_views], :include_blank => false, :hint => input_hint(:splash_page_view)
  %fieldset
    %legend General
    = s.input :title, :hint => input_hint(:title)
    = s.input :currency, :collection => currency_select_array, :hint => input_hint(:currency)
  %fieldset
    %legend Defaults
    = s.input :home_show_tag_view, :collection => Settings.site[:home_show_tag_views], :include_blank => false, :hint => input_hint(:home_show_tag_view)
    = s.input :series_show_view, :collection => Settings.site[:series_show_views], :include_blank => false, :hint => input_hint(:series_show_view)
    = s.input :work_show_view, :collection => Settings.site[:work_show_views], :include_blank => false, :hint => input_hint(:work_show_view)
  %fieldset
    %legend Email
    = s.input :email_no_reply, :hint => input_hint(:email_no_reply)
  %fieldset
    %legend Google Account
    = s.input :google_email, :hint => input_hint(:google_email)
    = s.input :google_password, :hint => input_hint(:google_password), :input_html => {:value => Settings.google_password}
    = s.input :google_calendar, :hint => input_hint(:google_calendar)
  %fieldset
    %legend
      Developer
      = toggle_link :developer_settings, :state => :hide
    #developer_settings.hide
      = s.input :email_interceptor, :hint => input_hint(:email_interceptor)
  .actions
    = s.button :submit, "Save Settings"