- content_for :title do
  = "Edit #{@work.title}"

%fieldset
  %legend
    Manage Images
    = link_to_function "Show Images", nil, id: "toggle_images"
  = render "shared/file_upload", :path => work_images_path(@work), :label => "Images"

= simple_form_for @work do |w|
  = render 'shared/form_errors', instance: @work
  = render 'form_fields', work: w
  .actions
    = w.button :submit
