- content_for :title do
  = @work.title
= link_to "Edit", edit_work_path(@work)
= @work.title
= @work.tags
= markup(@work.description)
= @work.media
= @work.video_link
= @work.dimensions
= @work.completion_year
= @work.for_sale
= @work.price.format
= @work.quantity
