- content_for :title do
  = "Edit #{@series.title}"

- content_for :page_title do
  = link_to "Preview", @series
  = "Edit #{@series.title}"
  = link_to "Delete", @series, :method => :delete, :confirm => [t('destroy.confirm', :x => @series.title), t('series.destroy')] * "  "
  
= simple_form_for @series do |s|
  = render 'shared/form_errors', :instance => @series
  = render 'form_fields', :instance => @series, :series => s
  .actions
    = s.button :submit  
