- content_for :title do
  = @series.title

- if current_user
  - content_for :menu do
    %li= link_to "Edit #{@series.title}", edit_series_path(@series)

%div{:id => "#{@view.to_s}_view"}
  %h1.series_title= @series.title
  = render 'shared/tags', :tags => @series.tags
  - if @view == :slideshow
    .slideshow
      - @series.images.shuffle.each do |i|
        = link_to image_tag(i.image.series_show_slideshow.url, :title => i.work.title), work_path(i.work)
  - elsif @view == :scroller
    = render 'shared/image_scroller', :images => @series.images(false), :image_version => "series_show_image_scroller"
  .description= markup @series.description
  - unless @view == :scroller
    .series_work
      .section
        - @series.works.each do |w|
          = render 'shared/item', :item => w 