- content_for :title do
  = @series.title

- if current_user
  - content_for :page_title do
    = link_to "Edit", edit_series_path(@series)

%h1.series_title= @series.title
.description= markup @series.description
#series_work
  .section.work
    - @series.works.each do |w|
      = render 'shared/item', :item => w
