!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "dir" => "ltr", "xml:lang" => "en", :lang => "en"}
  %head
    %title= [Settings.title, content_for?(:title) ? yield(:title) : nil].compact * " - "
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Abel|Shanti|'
    = stylesheet_link_tag :application
    = include_controller_asset params[:controller], :css
    = javascript_include_tag :application
    = include_controller_asset params[:controller], :js
    = csrf_meta_tags
  %body
    #container
      #header
        = render 'layouts/menu'
        Artist Manager
      - if flash.present?
        #flash
          - flash.each do |type, msg|
            = content_tag :div, msg, :class => type
      - if content_for? :title
        #title= yield :title
      #content
        = yield
