!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "dir" => "ltr", "xml:lang" => "en", :lang => "en"}
  %head
    %title= site_title
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Abel|Shanti|'
    = stylesheet_link_tag :application
    = yield :css
    = include_controller_assets :css, controller_name, action_name
    = javascript_include_tag :application
    = yield :js
    = include_controller_assets :js, controller_name, action_name
    = csrf_meta_tags
  %body
    #logo= logo
    #container
      = yield
      #footer= footer